body{
    background-color: rgb(1, 2, 10);

}
nav{
    background-color: orangered;
    color: azure;
    position: relative;
    box-shadow: 2px 2px 2px 2px;
    border: 5px solid rgb(45, 53, 110);
}
a{
    text-decoration: none;
    color: azure;
    display: block;
    padding: 10px;
}
nav ul li{
    display: inline-block;

}
nav a:hover{
    background-color: rgb(1, 2, 10);
}
nav a{
    font-size: large;
    font-style:italic;
    font-variant:small-caps;
    color: azure;
}
.d{
    /* box-shadow: 2px 2px 2px 2px; */
}
nav ul{
    position: relative;
    list-style-type: none;
}
/* li{
    box-shadow: 5px 5px 5px 5px;
} */
nav ul ul{
    position: absolute;
    display: none;
}
nav ul li:hover>ul{
    display: inherit;
    display: flex;
   flex-direction:column ;
   background-color: orangered;
   left: 155px;
   box-shadow: 2px 2px 2px 2px;
    top :40px;

    border: 5px solid rgb(45, 53, 110);
}
h4{
    font-size: xx-large;
    /* font-style:italic; */
    /* font-variant:small-caps; */
    color: azure;
    text-shadow: rgb(75, 85, 156) 0 5px;
    /* text-shadow:  -2px rgb(45, 53, 110); */
}
.inf{
    color: azure;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    /* text-shadow: rgb(75, 85, 156) 0 5px; */
}

.ul2{
    font-size: x-small;
    text-shadow: rgb(75, 85, 156) 0 3px;
}
ul{
    list-style-type: none;
}
li>a::after{content: '+';}
li>a:only-child{content: '';}
